.fichaje-container {
  .card {
    border-radius: 1rem;
    background-color: transparent;
    /* border: 1px solid green; */
    border: none;

    h3 {
      font-weight: 600;
    }
  }
}

  .clock {
  width: 200px;
  height: 200px;
  border: 6px solid black;
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
  /* background: white; */
  background-color: transparent;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: rotate(0deg);
}

.hour {
  height: 50px;
  width: 6px;
  background-color: #333;
}

.minute {
  height: 80px;
  width: 4px;
  background-color: #000;
}

.second {
  height: 90px;
  width: 2px;
  background-color: #40E0D0;
}

.center-circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
}



.number {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  transform: translate(-50%, -50%);
}

.number-12 {
  top: 10px;
  left: 50%;
}

.number-3 {
  top: 50%;
  left: calc(100% - 10px);
}

.number-6 {
  bottom: -15px;
  left: 50%;
}

.number-9 {
  top: 50%;
  left: 10px;
}

.input{
    background-color: #555 !important;
    color: white;
    margin-bottom: 50px;

}