

/* estilos boton */
.floating-button{
    position: fixed; 
    bottom: 125px; 
    right: 15px; 
    color: #fff; 
    border: none;
    border-radius: 50%; 
    width: 80px; 
    height: 30px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1000; 
  }
  .table-secondary{
    background-color: white !important;
  }

  .sub-table{
    background-color: rgb(191, 216, 212) !important;
  }

  .text-success {
  background-color: rgb(172, 236, 215) !important;
  color:black !important;
  font-weight: bold;
}

.text-danger {
  background-color: rgb(224, 156, 156) !important;
  color:white !important;
}
h6, h5, h2,p{
   font-family: "Poppins", sans-serif;
}
