/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@300;400;700&display=swap");

html,
body {
  height: 100%;
}
body {
    background-color: red;
  margin: 0;
  /* font-family: "Orbitron", sans-serif; */
  /* font-family: cursive; */
}

.button {
    margin-top: 25px;
    width: 60%;
    padding: 10px;
    background-color: #007bff !important;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
